#cv {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#cv-intro {
  text-align: justified;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  max-width: 60%;
  margin-bottom: 3%;
}

#cv-navigator {
  justify-content: space-around;
  width: 25%;
  margin-bottom: 20px;
  margin-right: 2%;
}
.sidebar {
  cursor: pointer;
  padding: 5%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar:hover {
  background-color: #f0f0f04b;
  cursor: pointer;
  text-decoration-line: underline;
}