#cv {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#cv-content {
  text-align: justified;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 70%;
  margin-bottom: 3%;
}
#cv-education
{
  text-align: justified;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  min-width: 60%;
  margin-bottom: 3%;
}


#cv-navigator {
  justify-content: space-around;
  width: 25%;
  height: 60%;
  margin-bottom: 20px;
  margin-right: 2%;
}
.sidebar {
  cursor: pointer;
  padding: 5%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-family: 'Bropella', sans-serif;
}